* {
    box-sizing: border-box;
}

:root {
    --rowNum: 4;
    --colNum: 4;
}

body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

a{
    color: rgb(34, 36, 36);
}

a:hover{
    color: rgba(34, 36, 36, 0.548);
}

header{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: center;
    max-height: 8vw;
}

.hidden{
    display: none;
}

#inputValReturn{
    font-size: 12px;
    margin-left: 5px;
    color: rgb(223, 22, 49);
    letter-spacing: -1px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 8px;
    border-radius: 5px;
}

input[type=number]{

    background-color: rgba(250, 250, 250, 0.541);
    border: 0px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum));
    justify-items: stretch;
    align-items: stretch;
    height: 80vh;
    max-height: 100vh;
}

.createdDiv{
    background-color: rgba(250, 250, 250, 0.493);
    border: 1px solid black;
    min-width: 10px;
    min-height: 10px;
    transition: all 0.1s ease;
}

footer{
    align-self: center;
    justify-self: center;
    display: grid;
    clear: both;
}

.reset{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    justify-self: center;
    margin-top: 3%;
}

.reset button{
    align-self: center;
    justify-self: center;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0;
}
.reset p{
    align-self: center;
    justify-self: center;
    padding-bottom: 1%;
    margin-bottom: 1%;
    flex: 1;
}

.btn{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #e2eee2 100%);
	background-color:#6ddd56;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}
